In [1]:
a=10
b=20
print a==b
print a>=b
print a<b
print a<=b
print a!=b

False
False
True
True
True

In [2]:
bool(a==b)

False

In [3]:
bool(a!=b)

True

In [4]:
a!=b and a<b

True

In [5]:
print "program starting statements"
print "eligible for vote"
print "eligible to get marriage in india"
print "prohram ending statements"

program starting statements
eligible for vote
eligible to get marriage in india
prohram ending statements

In [6]:
print "program starting statements"
age=19
if age>=18:
    print "eligible for vote"
if age>=25:
    print "eligible to get marriage in india"
print "prohram ending statements"

program starting statements
eligible for vote
prohram ending statements

In [7]:
age>=25

False

In [8]:
bool(age>=25)

False

In [9]:
bool(10>20)

False

In [10]:
bool(0)

False

In [11]:
bool(1)

True

In [12]:
bool(-10)

True

In [13]:
bool("python")

True

In [14]:
bool("")

False

In [15]:
bool("   ")

True

In [16]:
bool("0")

True

In [17]:
bool(0)

False

In [18]:
print "program starting statements"
age=19
if 10:
    print "10 is true"
else:
    print "10 is false"
if False:
    print "False is True "
else:
    print "False is False"
print "program ending statements"

program starting statements
10 is true
False is False
prohram ending statements

In [19]:
age=raw_input("Enter age: ")

Enter age: 12

In [20]:
print age

12

In [21]:
type(age)

str

In [22]:
a="12"
b=12

In [23]:
type(a)

str

In [24]:
type(b)

int

In [25]:
a==b

False

In [26]:
"apple"<"b"

True

In [28]:
#"cat","bat",'apple',"ant"
# ant, apple,bat,cat
#1,2,3,4,5,

a=10
b=2
print a>b

True

In [29]:
a=10
b="a"
print a>b

False

In [30]:
print 20>"2"

False

In [31]:
print "2">200

True

In [32]:
print "apple">200000000

True

In [33]:
print "1">10000000

True

In [34]:
a=raw_input("Enter a value:")
if a>100:
    print "greater than 100"
else:
    print "lessthan 100"

Enter a value:200
greater than 100

In [35]:
a=raw_input("Enter a value:")
if a>100:
    print "greater than 100"
else:
    print "lessthan 100"

Enter a value:1
greater than 100

In [36]:
a=raw_input("Enter a value:")
a=int(a)
if a>100:
    print "greater than 100"
else:
    print "lessthan 100"

Enter a value:200
greater than 100

In [37]:
a=raw_input("Enter a value:")
a=int(a)
if a>100:
    print "greater than 100"
else:
    print "lessthan 100"

Enter a value:1
lessthan 100

In [38]:
a=12
b=12.0
print a==b

True

In [39]:
a=1+2j
b=1+2j
print a==b

True

In [40]:
a=1+0j
b=1
print a==b

True

In [41]:
print complex(b)

(1+0j)

In [42]:
print 12=="12"

False

In [44]:
print 1+0j==1

True

In [45]:
print 12.000==12

True

In [46]:
print 12.34 == 12

False

In [51]:
a=1223456778890034324234324234

In [52]:
type(a)

long

In [53]:
print 10**100

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [54]:
name="Anil"
age=23
height=5.6

In [55]:
# Name: Anil, Age: 23, Height: 5.6
print "Name:",name

Name: Anil

In [56]:
s="Name:"+name

In [57]:
s

'Name:Anil'

In [58]:
print s

Name:Anil

In [59]:
print "Name:"+name

Name:Anil

In [60]:
# Name: Anil, Age: 23, Height: 5.6
name="Anil"
age=23
height=5.6
print "Name:",name,"Age:",age,"Height:",height

Name: Anil Age: 23 Height: 5.6

In [61]:
# Name: Anil, Age: 23, Height: 5.6
name="Anil"
age=23
height=5.6
print "Name:",name

Name: Anil

In [62]:
# Name: Anil, Age: 23, Height: 5.6
name="Anil"
age=23
height=5.6
print "Name:",name,","

Name: Anil ,

In [63]:
# Name: Anil, Age: 23, Height: 5.6
name="Anil"
age=23
height=5.6
print "Name:",name","

SyntaxError: invalid syntax (<ipython-input-63-07e516ff4d26>, line 5)

In [64]:
# Name: Anil, Age: 23, Height: 5.6
name="Anil"
age=23
height=5.6
print "Name:",name+","

Name: Anil,

In [65]:
# Name: Anil, Age: 23, Height: 5.6
name="Anil"
age=23
height=5.6
print "Name:",name,", Age:",age,", Height:",height

Name: Anil , Age: 23 , Height: 5.6

In [66]:
# Name: Anil, Age: 23, Height: 5.6
name="Anil"
age=23
height=5.6
print "Name:",name+", Age:",age+", Height:",height

Name: Anil, Age:

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [67]:
print "str1"+"str2"

 str1str2

In [68]:
print "product cost":+20

SyntaxError: invalid syntax (<ipython-input-68-2befbd649ca6>, line 1)

In [69]:
print "product cost:"+"20"

product cost:20

In [70]:
# Name: Anil, Age: 23, Height: 5.6
name="Anil"
age=23
height=5.6
print "Name:",name+", Age:",age+", Height:",height

Name: Anil, Age:

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [71]:
# Name: Anil, Age: 23, Height: 5.6
name="Anil"
age=23
height=5.6
print "Name:",name+", Age:",str(age)+", Height:",height

 Name: Anil, Age: 23, Height: 5.6

In [72]:
print "line1"
print "line2"

line1
line2

In [73]:
print "liine1\nline2"

liine1
line2

In [74]:
print "liine1\tline2"

liine1	line2

In [75]:
print "line1 \n line2 \t tabspace dsfdsf \n sdfsdf\t \nsdfdsfsdfs"

line1
 line2 	 tabspace dsfdsf
 sdfsdf
sdfdsfsdfs

In [76]:
print "line1 \\n line2 \\t tabspace dsfdsf \\n sdfsdf\\t \\nsdfdsfsdfs"

line1 \n line2 \t tabspace dsfdsf \n sdfsdf\t \nsdfdsfsdfs

In [77]:
print r"line1 \n line2 \t tabspace dsfdsf \n sdfsdf\t \nsdfdsfsdfs"

line1 \n line2 \t tabspace dsfdsf \n sdfsdf\t \nsdfdsfsdfs

In [78]:
# it's a hot day
print "it's a hot day"

it's a hot day

In [79]:
# it's a hot day
print 'it"s a hot day'

it"s a hot day

In [81]:
# it's a "hot" day
print 'it's a "hot" day'

SyntaxError: invalid syntax (<ipython-input-81-d7d035fdd043>, line 2)

In [82]:
# it's a "hot" day
print 'it\'s a "hot" day'

it's a "hot" day

In [83]:
a=raw_input("Enter data: ")

Enter data: "hello! it's a good day"

In [84]:
print a

"hello! it's a good day"

In [85]:
a=raw_input("Enter data: ")

Enter data: 'it's a hot day'

In [86]:
print a

'it's a hot day'

In [87]:
a=raw_input("Enter data: ")

Enter data: it's hot day

In [88]:
a

"it's hot day"

In [89]:
print a

it's hot day

In [90]:
s="python program"
print len(s)

14

In [91]:
s="pythonprogram"
print len(s)

13

In [92]:
s="python\nprogram"
print len(s)

14

In [93]:
s="python\n\nprogram"
print len(s)

15

In [94]:
s="python\n\n\t\nprogram"
print len(s)

17

In [95]:
s=r"python\n\n\t\nprogram"
print len(s)

21

In [96]:
a=raw_input("Enter a value:")

Enter a value:123123

In [97]:
a=raw_input("Enter product cost: ")
print "product cost: "+a

Enter product cost: 12
product cost: 12

In [98]:
a=raw_input("Enter product cost: ")
print "product cost: "+a

Enter product cost: 12.34
product cost: 12.34

In [99]:
a=raw_input("Enter product cost: ")
print "product cost: "+a

Enter product cost: 12
product cost: 12

In [100]:
a=input("Enter product cost: ")
print a
print type(a)
print "product cost: "+a

Enter product cost: 12
12
<type 'int'>

TypeError: cannot concatenate 'str' and 'int' objects

In [101]:
a=input("Enter product cost: ")
print a
print type(a)
print "product cost: "+a

Enter product cost: 12.34
12.34
<type 'float'>

TypeError: cannot concatenate 'str' and 'float' objects

In [102]:
a=input("Enter product cost: ")
print a
print type(a)
print "product cost: "+a

Enter product cost: 1,2,3,4
(1, 2, 3, 4)
<type 'tuple'>

TypeError: cannot concatenate 'str' and 'tuple' objects

In [103]:
a=input("Enter product cost: ")
print a
print type(a)
print "product cost: "+a

Enter product cost: 1+2j
(1+2j)
<type 'complex'>

TypeError: cannot concatenate 'str' and 'complex' objects

In [104]:
a=input("Enter adhar: ")

Enter adhar: 21345-2056dsdfgdh

SyntaxError: unexpected EOF while parsing (<string>, line 1)

In [105]:
a=input("Enter adhar: ")

Enter adhar: python

NameError: name 'python' is not defined

In [108]:
a=input("Enter adhar: ")

Enter adhar: "python"

In [109]:
print a

python

In [110]:
# Name: Anil, Age: 23, Height: 5.6
name="Anil"
age=23
height=5.6
print "Name:",name+", Age:",str(age)+", Height:",height

Name: Anil, Age: 23, Height: 5.6

In [111]:
# for mat specifiers
# %s, %d, %f, %x, %o
a=1234
print "%x",a

%x 1234

In [112]:
# for mat specifiers
# %s, %d, %f, %x, %o
a=1234
print "%x"%a

4d2

In [113]:
# for mat specifiers
# %s, %d, %f, %x, %o
a=1234
print "%X"%a

4D2

In [114]:
# Name: Anil, Age: 23, Height: 5.6
name="Anil"
age=23
height=5.6
print "Name: %s, Age: %s, Height: %s"%(name,age,height)
print "Name:",name+", Age:",str(age)+", Height:",height

Name: Anil, Age: 23, Height: 5.6
Name: Anil, Age: 23, Height: 5.6

In [115]:
cost=12.34567890

In [116]:
print "prodcut cost: %d"%cost

prodcut cost: 12

In [117]:
print "prodcut cost: %f"%cost

prodcut cost: 12.345679

In [118]:
print "prodcut cost: %.2f"%cost

prodcut cost: 12.35

In [125]:
cost=12.345607893264325324123423
print str(cost)
print "prodcut cost: %s"%cost

12.3456078933
prodcut cost: 12.3456078933

In [126]:
print "cost",cost

cost 12.3456078933

In [128]:
print cost

12.3456078933

In [129]:
cost=1234567890243342
print cost

1234567890243342

In [130]:
cost = '12.34567891234567890'
print cost

12.34567891234567890

In [131]:
a=1234
print "%o"%a

2322

In [132]:
print "%b"%a

ValueError: unsupported format character 'b' (0x62) at index 1

In [133]:
'''
1.python
2.php
3.c
4.cpp
'''
print "1.python\n2.php\n3.c\n4.cpp"

1.python
2.php
3.c
4.cpp

In [134]:
'''
1.python
2.php
3.c
4.cpp
'''
print "program started"
print "1.python\n2.php\n3.c\n4.cpp"
option = raw_input("Enter choice: ")
if option == 1:
    print "python information"
if option == 2:
    print "php information"
if option == 3:
    print "c information"
if option == 4:
    print "cpp information"
print "other statements in program"
print "program ended"

program started
1.python
2.php
3.c
4.cpp
Enter choice: 1
other statements in program
program ended

In [135]:
'''
1.python
2.php
3.c
4.cpp
'''
print "program started"
print "1.python\n2.php\n3.c\n4.cpp"
option = raw_input("Enter choice: ")
if option == '1':
    print "python information"
if option == '2':
    print "php information"
if option == '3':
    print "c information"
if option == '4':
    print "cpp information"
print "other statements in program"
print "program ended"

program started
1.python
2.php
3.c
4.cpp
Enter choice: 1
python information
other statements in program
program ended

In [136]:
'''
1.python
2.php
3.c
4.cpp
'''
print "program started"
print "1.python\n2.php\n3.c\n4.cpp"
option = raw_input("Enter choice: ")
if option == '1':
    print "python information"
if option == '2':
    print "php information"
if option == '3':
    print "c information"
if option == '4':
    print "cpp information"
print "other statements in program"
print "program ended"

program started
1.python
2.php
3.c
4.cpp
Enter choice: 2
php information
other statements in program
program ended

In [137]:
'''
1.python
2.php
3.c
4.cpp
'''
print "program started"
print "1.python\n2.php\n3.c\n4.cpp"
option = raw_input("Enter choice: ")
if option == '1':
    print "python information"
if option == '2':
    print "php information"
if option == '3':
    print "c information"
if option == '4':
    print "cpp information"
print "other statements in program"
print "program ended"

program started
1.python
2.php
3.c
4.cpp
Enter choice: 3
c information
other statements in program
program ended

In [138]:
'''
1.python
2.php
3.c
4.cpp
'''
print "program started"
print "1.python\n2.php\n3.c\n4.cpp"
option = raw_input("Enter choice: ")
if option == '1':
    print "python information"
if option == '2':
    print "php information"
if option == '3':
    print "c information"
if option == '4':
    print "cpp information"
print "other statements in program"
print "program ended"

program started
1.python
2.php
3.c
4.cpp
Enter choice: 4
cpp information
other statements in program
program ended

In [139]:
'''
1.python
2.php
3.c
4.cpp
'''
print "program started"
print "1.python\n2.php\n3.c\n4.cpp"
option = raw_input("Enter choice: ")
if option == '1':
    print "python information"
if option == '2':
    print "php information"
if option == '3':
    print "c information"
if option == '4':
    print "cpp information"
print "other statements in program"
print "program ended"

program started
1.python
2.php
3.c
4.cpp
Enter choice: 5
other statements in program
program ended

In [140]:
'''
1.python
2.php
3.c
4.cpp
'''
print "program started"
print "1.python\n2.php\n3.c\n4.cpp"
option = raw_input("Enter choice: ")
if option == '1':
    print "python information"
if option == '2':
    print "php information"
if option == '3':
    print "c information"
if option == '4':
    print "cpp information"
else:
    print "wrong option"
print "other statements in program"
print "program ended"

program started
1.python
2.php
3.c
4.cpp
Enter choice: 5
wrong option
other statements in program
program ended

In [141]:
'''
1.python
2.php
3.c
4.cpp
'''
print "program started"
print "1.python\n2.php\n3.c\n4.cpp"
option = raw_input("Enter choice: ")
if option == '1':
    print "python information"
if option == '2':
    print "php information"
if option == '3':
    print "c information"
if option == '4':
    print "cpp information"
else:
    print "wrong option"
print "other statements in program"
print "program ended"

program started
1.python
2.php
3.c
4.cpp
Enter choice: 2
php information
wrong option
other statements in program
program ended

In [142]:
'''
1.python
2.php
3.c
4.cpp
'''
print "program started"
print "1.python\n2.php\n3.c\n4.cpp"
option = raw_input("Enter choice: ")
if option == '1':
    print "python information"
elif option == '2':
    print "php information"
elif option == '3':
    print "c information"
elif option == '4':
    print "cpp information"
else:
    print "wrong option"
print "other statements in program"
print "program ended"

program started
1.python
2.php
3.c
4.cpp
Enter choice: 5
wrong option
other statements in program
program ended

In [143]:
'''
1.python
2.php
3.c
4.cpp
'''
print ("program started")
print "1.python\n2.php\n3.c\n4.cpp"
option = raw_input("Enter choice: ")
if option == '1':
    print "python information"
elif option == '2':
    print "php information"
elif option == '3':
    print "c information"
elif option == '4':
    print "cpp information"
else:
    print "wrong option"
print "other statements in program"
print "program ended"

program started
1.python
2.php
3.c
4.cpp
Enter choice: 3
c information
other statements in program
program ended

In [ ]:
# while for
print "program started"
i=0
while i<10:
    print "iteration stared"
    print i
    print "iteration ended"
print "other statement in program "
print "rogram ended"

In [144]:
# while for
print "program started"
i=0
while i<10:
    print "iteration stared"
    print i
    i=i+1
    print "iteration ended"
print "other statement in program "
print "rogram ended"

program started
iteration stared
0
iteration ended
iteration stared
1
iteration ended
iteration stared
2
iteration ended
iteration stared
3
iteration ended
iteration stared
4
iteration ended
iteration stared
5
iteration ended
iteration stared
6
iteration ended
iteration stared
7
iteration ended
iteration stared
8
iteration ended
iteration stared
9
iteration ended
other statement in program
rogram ended

In [145]:
# while for
print "program started"
i=0
while i<10:
    print "iteration stared"
    print i
    i++
    print "iteration ended"
print "other statement in program "
print "rogram ended"

SyntaxError: invalid syntax (<ipython-input-145-ca6a130f6125>, line 7)

In [146]:
# while for
print "program started"
i=0
while i<10:
    print "iteration stared"
    print i
    i+=1
    print "iteration ended"
print "other statement in program "
print "rogram ended"

program started
iteration stared
0
iteration ended
iteration stared
1
iteration ended
iteration stared
2
iteration ended
iteration stared
3
iteration ended
iteration stared
4
iteration ended
iteration stared
5
iteration ended
iteration stared
6
iteration ended
iteration stared
7
iteration ended
iteration stared
8
iteration ended
iteration stared
9
iteration ended
other statement in program
rogram ended

In [147]:
# while for
print "program started"
i=0
while i<3:
    print "iteration stared"
    print i
    i=i+1
    print "iteration ended"
print "other statement in program "
print "rogram ended"

program started
iteration stared
0
iteration ended
iteration stared
1
iteration ended
iteration stared
2
iteration ended
other statement in program
rogram ended

In [148]:
# while for
print "program started"
i=0
while i<3:
    print "iteration stared"
    print i
    i=i+1
    print "iteration ended"
print "i out side while:",i
print "other statement in program "
print "rogram ended"

program started
iteration stared
0
iteration ended
iteration stared
1
iteration ended
iteration stared
2
iteration ended
i out side while: 3
other statement in program
rogram ended

In [149]:
"str" in "str1str2str3"

True

In [150]:
1 in [1,2,2,3,4]

True

In [151]:
1 in (2,3,4,5)

False

In [152]:
1 in {1:2,3:4,5:6}

True

In [153]:
# while for
print "program started"
for i in "abc":
    print "iteration started"
    print i
    print "iter"
print "i out side while:",i
print "other statement in program "
print "rogram ended"

program started
iteration started
a
iter
iteration started
b
iter
iteration started
c
iter
i out side while: c
other statement in program
rogram ended

In [154]:
# while for
print "program started"
s="abc"
for i in s[1:]:
    print "iteration started"
    print i
    print "iter"
print "i out side while:",i
print "other statement in program "
print "rogram ended"

program started
iteration started
b
iter
iteration started
c
iter
i out side while: c
other statement in program
rogram ended

In [155]:
# while for
print "program started"
s="abc"
for i in s:
    print "iteration started"
    print i
    print "iter"
print "i out side while:",i
print "other statement in program "
print "rogram ended"

program started
iteration started
a
iter
iteration started
b
iter
iteration started
c
iter
i out side while: c
other statement in program
rogram ended

In [156]:
# while for
print "program started"
s="abc"
i=1
for i in s:
    print "iteration started"
    print i
    print "iter"
print "i out side while:",i
print "other statement in program "
print "rogram ended"

program started
iteration started
a
iter
iteration started
b
iter
iteration started
c
iter
i out side while: c
other statement in program
rogram ended

In [ ]:
# take the numbr from the user check whether it is less than 100
# take two numbers and print big number
# take three numbers and print big number
# take a number print whether it is even or odd
# take a number and check whether it si prime or not.