In [1]:
t=(1,2,"str",[1,2,3])

In [2]:
t[0]

1

In [3]:
t[1:5]

(2, 'str', [1, 2, 3])

In [4]:
l=[1,"str1",[1,2,3]]
t=(1,"str1",[1,2,3])

In [5]:
l[0]=100

In [6]:
t[0]=100

TypeError: 'tuple' object does not support item assignment

In [9]:
t1=(1,2,3)
t2=(4,5,6)

In [10]:
t1+t2

(1, 2, 3, 4, 5, 6)

In [11]:
t1*t2

TypeError: can't multiply sequence by non-int of type 'tuple'

In [12]:
t1-t2

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [13]:
t1/t2

TypeError: unsupported operand type(s) for /: 'tuple' and 'tuple'

In [14]:
t1*2

(1, 2, 3, 1, 2, 3)

In [15]:
t1+2

TypeError: can only concatenate tuple (not "int") to tuple

In [17]:
"atr"+2

TypeError: cannot concatenate 'str' and 'int' objects